---
- name: install apache
  hosts: webservers

  tasks:
    - name: Install Apache Block
      block:
        - name: Install Apache
          yum:
            name: apache
            state: present
          register: yum_result
          failed_when: false

        - name: check cmd output
          shell:
            cmd: "echo Hallo"
          register: cmd_result
          changed_when: "'Hello' in cmd_result.stdout"
          notify:
            - restart apache
      rescue:
        - name: revert actions
          debug:
            msg: "revert it"
      when: install_apache is defined




  handlers:
    - name: restart apache
      service:
        name: httpd
        state: restarted
